/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

body,
h1,
p {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100svh;
  margin: 1rem 1rem 0;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--off-black);
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card {
  max-width: 24rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 24px;
  background-color: var(--dark-grey);
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px var(--off-black),
    0 8px 10px -6px var(--off-black);
}

.card__img {
  border-radius: 50%;
  width: 88px;
  height: 88px;
  margin-inline: auto;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.card__location {
  font-weight: 700;
  color: var(--primary);
}

.card__socialLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__description {
  text-wrap: balance;
}

.card__socialLink {
  background-color: var(--grey);
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px var(--dark-greygrey),
    0 8px 10px -6px var(--dark-greygrey);
}

.card__socialLink--link {
  color: var(--white);
  font-weight: 700;
  display: block;
  padding: 12px 0;
}

/* Hover */
.card__socialLink--link:hover,
.card__socialLink--link:focus {
  background-color: var(--primary);
  color: var(--grey);
  cursor: pointer;
  border-radius: 8px;
}

/* Desktop Screen */
@media (min-width: 30em) {
  .card {
    padding: 40px;
  }
}

/* Footer */
.attribution {
  font-size: 0.6875rem;
}

.attribution a {
  color: var(--primary);
}
